In [7]:
import pandas as pd
import numpy as np
import math

df = pd.read_csv('../Data/test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [9]:
def gradient_descent(x,y, learning_rate, treshold):
    m_curr = 0
    b_curr = 0
    cost = -1
    i = 0

    n = len(x)

    while True:
        y_predicted = m_curr * x + b_curr
        i += 1

        cost_prev = cost
        cost = (1 / n) * sum([val**2 for val in (y - y_predicted)])

        if math.isclose(cost_prev, cost, rel_tol=treshold):
            break

        md = -(2 / n) * sum(x * (y - y_predicted))
        yd = -(2 / n) * sum(y - y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * yd

    return m_curr, b_curr, i

In [29]:
x = np.array(df['math'].values)
y = np.array(df['cs'].values)
learning_rate = 0.0002
treshold = 1e-20
gradient_descent(x, y, learning_rate, treshold)

(1.0177381667793246, 1.9150826134339467, 415534)

In [21]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['math']], df['cs'])
(reg.coef_, reg.intercept_)

(array([1.01773624]), 1.9152193111568891)