In [2]:
import pandas as pd

temperature_df = pd.DataFrame({
    'city': ['mumbai', 'delhi', 'banglore'],
    'temperature': [32, 45, 30],
})
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [13]:
windspeed_df = pd.DataFrame({
    'city': ['delhi', 'mumbai'],
    'windspeed': [7, 12],
}, index=[1, 0])
windspeed_df

     city  windspeed
1   delhi          7
0  mumbai         12

In [14]:
df = pd.concat([temperature_df, windspeed_df])
df

       city  temperature  windspeed
0    mumbai         32.0        NaN
1     delhi         45.0        NaN
2  banglore         30.0        NaN
1     delhi          NaN        7.0
0    mumbai          NaN       12.0

In [15]:
df = pd.concat([temperature_df, windspeed_df], axis=1)
df

       city  temperature    city  windspeed
0    mumbai           32  mumbai       12.0
1     delhi           45   delhi        7.0
2  banglore           30     NaN        NaN

In [16]:
s = pd.Series(['Humid', 'Dry', 'Rain'], name='event')
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [19]:
df = pd.concat([temperature_df, s], axis=1)
df

       city  temperature  event
0    mumbai           32  Humid
1     delhi           45    Dry
2  banglore           30   Rain