In [7]:
import pandas as pd

df1 = pd.DataFrame({
    'city': ['new york', 'chicago', 'orlando', 'baltimore'],
    'temperature': [21, 14, 35, 32],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           32

In [8]:
df2 = pd.DataFrame({
    'city': ['chicago', 'new york', 'san francisco'],
    'humidity': [65, 68, 71],
})
df2

            city  humidity
0        chicago        65
1       new york        68
2  san francisco        71

In [10]:
df3 = pd.merge(df1, df2, on='city')
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [12]:
df4 = pd.merge(df1, df2, on='city', how='inner')
df4

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [13]:
df5 = pd.merge(df1, df2, on='city', how='left')
df5

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           32       NaN

In [14]:
df6 = pd.merge(df1, df2, on='city', how='right')
df6

            city  temperature  humidity
0        chicago         14.0        65
1       new york         21.0        68
2  san francisco          NaN        71

In [15]:
df7 = pd.merge(df1, df2, on='city', how='outer')
df7

            city  temperature  humidity
0      baltimore         32.0       NaN
1        chicago         14.0      65.0
2       new york         21.0      68.0
3        orlando         35.0       NaN
4  san francisco          NaN      71.0

In [17]:
df8 = pd.merge(df1, df2, on='city', how='outer', indicator=True)
df8

            city  temperature  humidity      _merge
0      baltimore         32.0       NaN   left_only
1        chicago         14.0      65.0        both
2       new york         21.0      68.0        both
3        orlando         35.0       NaN   left_only
4  san francisco          NaN      71.0  right_only